tensorflow==2.5.0 # machine learning
tensorflow_hub==0.12.0 # pre-trained models
tensorflow_text==2.5.0 # question answering
torch==1.10.0 # machine learning
keras==2.2.4
spacy==3.4.1 # NLP
gensim==4.2.0 # TFIDF
concepts==0.9.1 # formal concept analysis
wn==0.0.23
pywsd==1.2.4 # word sense disambiguation
wikipedia==1.4.0 # definition extraction
transformers==4.8.2 # text summarization and other NLP tasks
sentence_transformers==2.0.0 # sentence embeddings

sortedcontainers==2.1.0

pydot==1.4.2 # graphs
pydotplus==2.0.2 # graphs
networkx==2.6.2 # graphs
pandas==1.1.4
lxml==4.5.2
chardet==4.0.0 # Universal encoding detector for Python 2 and 3
unidecode==1.3.6 # text formatting
pathos==0.2.8

### with no version specified
python-Levenshtein # levenshtein string distance
nltk # stemming, wordnet, etc..
bs4 # xml to txt
scikit-learn
scipy
tika # pdf to txt
pdfminer # pdf to txt
matplotlib
more_itertools
numpy

### question_answer_extraction
nlp==0.4.0
hnswlib==0.6.2 # kNN
# simpleneighbors[annoy] # kNN
tqdm

protobuf==3.20.1

### commented out
# bs4==0.0.1 # xml to txt
# numpy==1.22.2
# matplotlib==3.5.1 # graphics
# click==7.1.2 # required by spacy
# scikit-learn==0.23.2
# scipy==1.8.0
# wordcloud==1.7.0 # graphics
# more_itertools>=8.7.0
# tika==1.24 # pdf to txt
# nltk==3.5 # stemming, wordnet, etc..
# python-Levenshtein==0.12.2 # levenshtein string distance
# git+https://github.com/msg-systems/coreferee # Coreference Resolution
